ol li{
    margin: 20px 0;
}
ol li p {
    display: inline-block;
}

ol li button{
    margin-left: 10px;
}

.hide{
    display: none;
}

.error-message{
    color: red;
    font-weight: 600;
}

.done-todo{
    text-decoration: line-through;
}

.search-container{
    margin-top: 20px;
}

.filter-button-container{
    margin: 20px;
}

.load-more-button{
    margin: 40px 20px;

}